CLIENT_ID=yourClientId
DOMAIN=yourTenantDomain
MGMT_CLIENT_ID=yourMgmtClientId
MGMT_CLIENT_SECRET=yourMgmtClientSecret
ISSUER_BASE_URL=https://yourTenantDomain
SECRET='yourLongRandomlyGeneratedString'
CSURF_SECRET='your32CharacterLongCsrfSecretooo'
PORT=3000